@import '../../assets/styles/variables.scss';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    background: $black;
    padding: 0 48px;
    header {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
            height: 52px;
            width: 52px;
        }
        h1 {
            font-size: 16px;
            font-weight: 600;
        }
    }
    a#mobile-menu {
        display: none;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
    }
    ul {
        display: flex;
        gap: 8px;
        li {
            a {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 500;
                font-size: 15px;
                border-radius: 4px;
                cursor: pointer;
                height: 30px;
                padding: 0 12px;
                &:hover {
                    background: transparentize($color: $white, $amount: .875);
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        a#mobile-menu {
            display: flex;
        }
        ul {
            display: none;
        }
        &.active {
            ul {
                display: flex;
                position: fixed;
                gap: 16px;
                top: 82px;
                left: 0;
                height: calc(100% - 82px);
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: darken($color: $dark, $amount: 2.5);
                li {
                    a {
                        width: 225px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}