@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font;
    color: $white;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    transition: 0.2s linear;
}

html,
body,
#root {
    background: $dark;
    height: 100%;
}
section {
    padding: 16px;
    .section-heading {
        h3 {
            color: lighten($color: $gray, $amount: 40);
            font-weight: 600;
        }
    }
    &#modpacks {
        min-height: calc(100% - 82px);
    }
    &#error {
        height: calc(100% - 82px);
        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 24px;
            h2 {
                font-size: 24px;
                span {
                    color: $color;
                }
            }
            p {
                color: lighten($color: $gray, $amount: 40);
                letter-spacing: .5px;
                font-weight: 500;
                max-width: 770px;
                font-size: 12px;
            }
            a {
                background: $color;
                border-radius: 4px;
                height: 42px;
                width: 192px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                cursor: pointer;
                &:hover {
                    background: darken($color: $color, $amount: 5);
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: $dark;
}

::-webkit-scrollbar-track {
    background: $dark;
}

::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($color: $color, $amount: 5);
}
::selection {
    background: darken($color: $color, $amount: 10);
}