@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// FONT
$font: 'Quicksand', sans-serif;

// COLORS
$dark: #0c1116;
$black: #010409;
$white: #f3f3f3;
$gray: #2f333b;
$color: #335cff;