@import '../../assets/styles/variables.scss';

.modpacks {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    .modpack {
        flex: 0 1 32%;
        height: 256px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:hover {
            .dark-effect {
                background: transparentize($color: $black, $amount: .7);
                backdrop-filter: blur(0px);
            }
            .github {
                opacity: 1;
                pointer-events: all;
            }
        }
        .dark-effect {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            background: transparentize($color: $black, $amount: .6);
            backdrop-filter: blur(3px);
        }
        span {
            color: $white;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 1px;
            z-index: 1;
        }
        .github {
            position: absolute;
            bottom: 16px;
            right: 16px;
            height: 36px;
            width: 36px;
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            opacity: 0;
            pointer-events: none;
            background: transparentize($color: $white, $amount: .85);
            &:hover {
                backdrop-filter: blur(5px);
            }
        }
    }
    @media screen and (max-width: 1100px) {
        flex-wrap: wrap;
        .modpack {
            flex: 0 1 48%;
        }
    }
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        .modpack {
            flex: 1 0 100%;
        }
    }
}